* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    background: #f5f5f5;
    border: none;
    color: #000;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 1em;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background: #f00;
    color: #f5f5f5;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

table {
    width: 100%;
}
h2 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 0 20px 3vw 20px;
}

.bookTicKet {
    background-image: url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header h1 {
    padding: 0.8em;
    font-size: 3.5vw;
    color: white;
    font-weight: 600;
}

.content {
    display: flex;
    justify-content: space-around;
}

.displayerTable,
.seat {
    width: 700px;
    margin: 0 auto;
    background: rgba(128, 128, 128, 0.34);
    padding: 3vw;
}

.seatAvailabilityList {
    display: flex;
    justify-content: flex-start;
}

.seatAvailabilityList ul {
    margin-bottom: 2em;
}

.seatAvailabilityList ul li {
    text-align: left;
    display: inline-block;
    margin-right: 1em;
    color: #fff;
}

.seatAvailabilityList ul li::before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
}

.greenBox::before {
    content: "";
    background: green;
}

.redBox::before {
    content: "";
    background: red;
}

.emptyBox::before {
    content: "";
    background-color: #fff;
    box-shadow: inset 0px 2px 3px 0px rgb(255 152 0), 0px 1px 0px 0px rgb(255 255 255 / 80%);
}

.screen {
    width: 100%;
    background: #ff9800;
    margin: 2em 0;
}

h2.wthree {
    padding: 0.8em;
    font-size: 1.2em;
    color: #000;
    line-height: 1.7;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 7px;
    word-spacing: 10px;
}

.seatStructure td {
    width: 40px;
    font-weight: 600;
    font-size: 1em;
    padding-top: 7px;
    height: 24px;
    color: #fff;
}

.seats button {
    width: 25px;
    height: 18px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 3px solid #ff9800;
    box-shadow: inset 0px 2px 3px 0px rgb(0 0 0 / 30%), 0px 1px 0px 0px rgb(255 255 255 / 80%);
    background-color: #ffffff;
}

.selectedSeat button {
    background-color: green;
}

.reservedSeat button {
    background-color: red;
    cursor: no-drop;
}

.displayerTable table {
    border-collapse: collapse;
}

.displayerTable td,
.displayerTable th {
    padding: 15px;
    border: 2px solid #fff;
    color: #fff;

}

.copy-wthree {
    padding: 3em 0em;
    text-align: center;
}

.copy-wthree p {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.7;
    padding: 0 1em;
}

.copy-wthree p a {
    color: #fff;
}
